# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

*.nuget.g.props
*.nuget.g.targets
project.nuget.cache
*.nuget.dgspec.json
2025-11-28 - 1 - CountCharInString/obj/Debug/net9.0/2025-11-28 - 1 - CountCharInString.AssemblyInfo.cs
2025-11-28 - 1 - CountCharInString/obj/Debug/net9.0/2025-11-28 - 1 - CountCharInString.AssemblyInfo.cs
2025-11-28 - 1 - CountCharInString/obj/Debug/net9.0/2025-11-28 - 1 - CountCharInString.AssemblyInfo.cs
2025-11-28 - 3 - IsPalindrom/obj/Debug/net9.0/2025-11-28 - 3 - IsPalindrom.AssemblyInfo.cs
2025-11-28 - 1 - CountCharInString/obj/Debug/net9.0/2025-11-28 - 1 - CountCharInString.AssemblyInfo.cs
2025-11-28 - 3 - IsPalindrom/obj/Debug/net9.0/2025-11-28 - 3 - IsPalindrom.AssemblyInfoInputs.cache
